[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"
mypy = "*"
yapf = "*"

[packages]
django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
werkzeug = "*"
django-environ = "*"
djangorestframework = "*"
django-registration-redux = "*"
pillow = "*"
django-model-utils = "*"

[requires]
python_version = "3.7"
