{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="{% static 'js/home.js' %}" defer></script>
{% endblock %}
{% block content %}
<div class='shadow'>
<header class='header'>
    <p class='title'>FLASH CARDS</p>
    <!-- <p class='sub-title'>for people who are not funny</p> -->
</header>
<nav class='nav'>
    <ul class='nav-list'>
        <li class='nav-item'><a href="">Quiz</a></li>
        <li class='nav-item'><a href="">New Deck</a></li>
    </ul>
</nav>
</div>
<main class='main row'>
    <div class='col'>
        <p class='col-heading'>Recently Added</p>
        <div class='col-container'>
            {% for card in cards %}
            <div id={{card.pk}} class="col-item">
                <p class='prev1'>{{card.title}}</p>
                <p class='prev2'>{{card.subject}}</p>
                <p class='prev2'>{{card.type}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='col mid'>
        <p class='col-heading'>My Decks</p>
        <div class='col-container'>
            <div id={{deck.pk}} class="col-item">
                <p class='prev1'>{{deck.title}}</p>
                <p class='prev2'>{{deck.subject}}</p>
            </div>
        </div>
    </div>
    <div class='col'>
        <p class='col-heading'>New Card</p>
        <div class='col-container'>
            <div id='button-row' class='button-row'>
                <button id='select_text' data-form='text-card-create' class='col-butt '>Text</button>
                <button id='select_figure'data-form='figure-card-create'class='col-butt '>Figure</button>
            </div>
            <form id='text-card-create' action="" method='POST' class='col-form col-item dn'><p>THIS IS THE TEXT FORM</p></form>
            <form id='figure-card-create' action="" method='POST' class='col-form col-item dn'><p>THIS IS THE FIGURE FORM</p></form>
        </div>
    </div>
</main>

{% endblock %}