{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="{% static 'js/home.js' %}" defer></script>
{% endblock %}
{% block content %}
<body class='container'>
<div class='shadow'>
<header class='header'>
    <p class='title'>FLASH CARDS</p>
    <!-- <p class='sub-title'>for people who are not funny</p> -->
</header>
<nav class='nav'>
    <ul class='nav-list'>
        <li class='nav-item'><a href="">Take Quiz</a></li>
        <li class='nav-item'><a href="{% url 'view_decks' %}">View Decks</a></li>
    </ul>
</nav>
</div>
<main class='main row'>
    <div class='col'>
        <p data-stuff='col1' class='col-heading'>Recent Cards</p>
        <div id='col1' class='col-container dn'>
            {% for card in cards %}
            <div id={{card.pk}} class="col-item">
                <p class='prev1'>{{card.title}}</p>
                <p class='prev2'>{{card.subject}}</p>
                <p class='prev2'>{{card.type}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='col mid'>
        <p data-stuff='col2' class='col-heading'>Recent Decks</p>
        <div id='col2' class='col-container dn'>
            {% if decks.count == 0 %}
            <p class='col-item'>You have no decks!</p>
            {% endif %}
            {% for deck in decks %}
            <div id="{{deck.pk}}" class="col-item">
                <p class='prev1'>{{deck.name}}</p>
                <a class='form-butt' href="{% url 'take_quiz' deck.pk %}" >Take Quiz!</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='col'>
        <p data-stuff='col3' class='col-heading'>New Card</p>
        <div id='col3' class='col-container dn'>
            <form class='col-form' action="" method='POST'>
                {% csrf_token %}
                {{form.as_table}}
                <button class='form-butt' type='Submit' value='Submit'>Submit</button>
            </form>
        </div>
    </div>
</main>
</body>
{% endblock %}