{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="{% static 'js/deck.js' %}" defer></script>
{% endblock %}
{% block content %}
<header class='form-head'>
    <a href="{% url 'home' %}" class='title alt'>FLASH CARDS</a>
</header>
<body class='form-background'>
<div class='deck-contain'>
  <aside class='left-aside'>
    {% for deck in decks %}
      <div class='deck-item'>
        <p class='deck-heading'>{{ deck.name }}</p>
        <button id={{deck.pk}} data-url="{% url 'show_cards' deck.pk %}" class='form-butt shwcards'>SHOW CARDS</button>
        <div class='col-item'>
          <p class='deck-sub-heading'>Cards in this deck:</p>
          {% for card in deck.all_cards %}
          <div id='{{card.pk}}' class='darkshadowbox deck-cards'>
            <p class='cardlink'>{{card.title}}</p> 
            <p class='card-info'>created {{card.created_at}}</p>
          </div>
            {% endfor %}
          
        </div>
      </div>
    {% endfor %}

  </aside>
  <main class='eightyfive'>
  <div class='deck-hider'>
    <p id='newdeckformSH' data-showhide='deckcreate'>Create New Deck</p>
    <form id='deckcreate' method='POST' class='col-form  deck-form dn'>
      {% csrf_token %}
      <input type="text" id="name" placeholder="enter the name of your new deck" required>
      <button class='form-butt' id='create-deck' type='submit'>CREATE DECK</button>
    </form>
  </div>
  <div id='card-display' class='card-display'></div>
  </main>
</div>

</body>
{% endblock %}