{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="{% static 'js/deck.js' %}" defer></script>
{% endblock %}
{% block content %}
<header class='form-head'>
    <a href="{% url 'home' %}" class='title alt'>FLASH CARDS</a>
</header>
<body class='form-background'>
<div class='deck-contain'>
  <aside class='left-aside'>
    {% for deck in decks %}
      <div id="{{deck.id}}" data-url="{$ url 'show_cards' deck.id $}" class='deck-item'>
        <p class='deck-heading'>{{ deck.name }}</p>
        <div class='col-item'>
          <p class='deck-sub-heading'>Cards in this deck:</p>
          {% for card in deck.all_cards %}
          <div class='darkshadowbox'>
            <p id='{{card.pk}}' class='cardlink'>{{card.title}}</p> 
            <p class='card-info'> {{card.subject}} created at {{card.created_at}}</p>
          </div>
            {% endfor %}
          
        </div>
      </div>
    {% endfor %}

  </aside>
  <main class='eightyfive'>
  <div class='deck-hider'>
    <p id='newdeckformSH' data-showhide='deckcreate' >Create New Deck</p>
    <form id='deckcreate' method='POST' class='col-form dn'>
      {% csrf_token %}
      <label for="name">Name:</label>
      <input type="text" id="name" placeholder="name of deck" required>
      <button class='form-butt' id='create-deck' type='submit'> create deck</button>
    </form>
  </div>
  <div id='card-display'></div>
  </main>
</div>

</body>
{% endblock %}