
:root {
    --Black: rgba(8, 7, 5, .5);
    --Gray: rgb(57, 74, 75);
    --Lime: rgb(162, 199, 164);
    --Topaz: rgb(184, 95, 110);
    --Glow: rgb(252, 255, 101);
    --GlowBlue: rgb(46, 112, 255);
    --stroke-green: rgb(37, 51, 56);
    --background: rgba(255, 255, 250, 1);
    --background2: rgba(255, 255, 250, 0.8);
    --background3: rgba(173, 173, 171, 0.8);
    --title-font: 'Righteous', cursive;
    --title-font2: 'Fredoka One', cursive;;
    --normal: 'Roboto Mono', monospace;
}

* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    text-overflow: ellipsis;
}

img {
	max-width:100%;
}

.dn {
    display: none;
}

.container {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: var(--background2);
    justify-content: flex-start
}

.shadow {
    box-shadow: -3px 3px 4px var(--Black);
    border-radius: 5px
}

.header {
    width: 100%;
    background-color: var(--stroke-green);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    
}

.title {
    margin-left: 10px;
    font-family: var(--title-font2);
    font-size: 4rem;
    padding: 20px;
    color: var(--background2);
    text-shadow: 0px 0px 5px var(--Topaz),0px 0px 20px var(--Glow);
}

.sub-title {
    margin-left: 10px;
    font-family: var(--title-font2);
    font-size: 1.5rem;
    padding: 5px;
    color: var(--background);
    text-shadow: -2px 2px 4px var(--Gray);
    background-color: var(--Lime);
}

.nav {
    display: flex;
    width: 100%;
    background-color: var(--Gray);
    justify-content: space-between;
    color: var(--background2);
    border-top: 1px solid var(--background);
    justify-content: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    /* box-shadow: -1px 1px 4px var(--Black) */
}

.nav-list {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: var(--background);
}

.nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right:20px;
    margin-left:20px;
}

.nav-item a{
    color: var(--background);
    font-weight: bold;
    font-family: var(--normal); 
    text-decoration: none;
    /* font-size: 1.5rem; */
}

.nav-item a:hover{
    /* color: var(--Topaz); */
    font-weight: bold;
    text-shadow: 0px 0px 5px var(--Glow);
}

.main {
    display: flex;
    width:100%;
    justify-content: space-between;
}

.col {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--Gray);
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    height: fit-content;
    box-shadow: -3px 3px 4px var(--Black);
}

.col-container {
    display: flex;
    width: 100%;
    border-top: 0.2px solid var(--Topaz);
    flex-wrap: wrap;
}

.mid {
    margin-right: 10px;
    margin-left: 10px;
}

.col-heading {
    font-family: var(--normal);
    font-weight: bold;
    /* font-size: 1.5rem; */
    color: var(--background);
    width: 100%;
    /* margin-top: 5px;
    margin-bottom: 5px; */
    margin: 5px;
    cursor: pointer;
    /* text-align: center; */
}

.col-heading:hover {
    text-shadow: 0px 0px 5px var(--Glow);
}

.col-item {
    background: var(--background2);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: -3px 3px 4px var(--Black);
    font-family: var(--normal);
    color: var(--Gray)
}

.col-item:hover{
    box-shadow: 0px 0px 3px var(--Topaz),0px 0px 10px var(--Glow);
}

.prev1 {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.prev2 {
    cursor: pointer;
}

.col-butt {
    width: 45%;
    font-family: var(--normal);
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: var(--background2);
    border-radius: 5px;
    color: var(--Gray)
}

.col-butt:hover{
    box-shadow: 0px 0px 3px var(--Topaz),0px 0px 10px var(--Glow);
}

.button-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-form {
    background-color: var(--background2);
    color: var(--Gray);

}
